* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #75215E;
    height: 100%;
    width: 100%;

}

canvas {
    background-color: #F084D3;
    border: black dotted 5px;
}